node_modules
.next
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.development.local
.env.test.local
.env.production.local
.out
.nyc_output
coverage
.nyc_output
.coverage
.vscode
.DS_Store
*.log
logs
tmp
temp